<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sbvcs</key>
	<array/>
	<key>sels</key>
	<array>
		<string>test/jump,jumpToTestVC,TestService</string>
	</array>
	<key>vcs</key>
	<array>
		<string>test/vc,TestViewController</string>
	</array>
</dict>
</plist>
